@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    margin: 0 0 0 0;
}

.formulary {
    display: flex;
    justify-content: center;
}

#name {
    position: absolute;
    top: 50%;
    color: white;
}

#name input#campo_name {
    height: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
    width: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#name input#campo_name:active {
    color: grey;
}

.button {
    display: flex;
    justify-content: center;
}

#btn {
    position: absolute;
    top: 58%;
    width: 80px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed';
    font-size: 17px;
}

#btn:hover {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    transition: background-color 0.2s ease;

}

#btn:active {
    color: gray;
}

.results {
    display: flex;
    justify-content: center;
}

#result {
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: transparent;
    height: 50px;
    border-style: solid;
    border-width: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: white;
}